#map{
  height: 700px;
  width: 100%;
}

h1{
  color: white;
  font-size: 100px;
}

li{
  color: white;
  list-style: none;
  margin-top: 5px;
}

.navbar-fixed-side{
    height:700px;
    overflow:scroll;
    overflow-x:hidden;
}
